# FastAPI 
fastapi
uvicorn[standard]
python-multipart
pypdf
# Embeddings 
fastembed
numpy
# LangChain 
langchain-text-splitters
# Google Gemini API
google-genai
# Utilities
python-dotenv
pydantic
faiss-cpu